* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

.grid {
  display: grid;
  grid-template-columns: 20% 80%;
}

/* Left side bar section */
.sidebar {
  display: grid;
  grid-template-rows: 100px 2fr 1fr;
  background-color: lightblue;
  height: 100vh;
}

/* Right side header and content */
.main {
  background-color: white;
  border: 2px solid black;
}

/* Header Section */
.header {
  display: grid;
  grid-template-rows: 40% 60%;
  background-color: lightgreen;
  height: 20vh;
}
.header-top {
  background-color: aquamarine;
}
.header-bot {
  background-color: green;
}


.content {
  background-color: lightcoral;
  height: 80vh;
}
