* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

.grid {
  display: grid;
  grid-template-columns: 20% 80%;
}

.sidebar {
  background-color: lightblue;
  height: 100vh;
}

.header {
  background-color: green;
  height: 10vh;
}

.main {
  background-color: aliceblue;
}